.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    &-right{
        a{
            letter-spacing: 1.28px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            text-decoration: none;
            margin-right: 30px;
        }
        button{
            background: #167526;
            border-radius: 5px;
            width: 234px;
            height: 61px;
            a{
                color: white;
                margin: 0 auto;
            }
        }
        select{
            background-color: transparent;
            border: none;
            outline: none;
            margin-right: 26px;
        }
    }
    &-right2{
        .offcanvas{
            &-body{

            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        &-right{
            a{
                letter-spacing: 1.28px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 14px;
                color: #000;
                text-decoration: none;
                margin-right: 15px;
            }
            button{
                background: #167526;
                border-radius: 5px;
                width: 194px;
                height: 51px;
                a{
                    color: white;
                    margin: 0 auto;
                }
            }
            select{
                background-color: transparent;
                border: none;
                outline: none;
                margin-right: 16px;
            }
        }
    }
}