.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    &-right{
        a{
            letter-spacing: 1.28px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            text-decoration: none;
            margin-right: 30px;
        }
        button{
            background: #167526;
            border-radius: 5px;
            width: 234px;
            height: 61px;
        }
        select{
            background-color: transparent;
            border: none;
            outline: none;
            margin-right: 26px;
        }
    }
}