.howUseBg{
    background-image: url('../../assets/img/howUseBack.png');
    background-position: center;
    background-size: cover;
    height: 754px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.howUse{
    display: flex;
    flex-direction: column;
    margin-right: -600px;
    b{
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        max-width: 556px;
        width: 100%;
        color: white;
    }
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        max-width: 743px;
        width: 100%;
        color: white;
        padding-bottom: 60px;
        margin-top: 24px;
    }
}