.boxBg{
    background-image: url('../../assets/img/boxBack.png');
    background-position: center;
    background-size: cover;
    height: 940px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    div{
        background-image: url('../../assets/img/boxCenter.png');
        background-size: cover;
        background-position: center;
        width: 650px;
        height: 540px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            margin-top: 170px;
        }
        b{
            margin-top: 50px;
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 62px;
            color: white;
        }
    }
}

@media screen and (max-width: 1024px) {
    .boxBg{
        background-image: url('../../assets/img/boxBack.png');
        background-position: center;
        background-size: cover;
        height: 740px;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    .box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 600px;
        overflow-y: hidden !important;
        div{
            background-image: url('../../assets/img/boxCenter.png');
            background-size: cover;
            background-position: center;
            width: 450px;
            height: 340px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                transform: translateY(40px);
                width: 200px;
            }
            b{
                margin-bottom: 70px;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 62px;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .boxBg{
        background-image: url('../../assets/img/boxBack.png');
        background-position: center;
        background-size: cover;
        height: 940px;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

    .box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 700px;
        overflow-y: hidden !important;
        div{
            background-image: url('../../assets/img/boxCenter.png');
            background-size: cover;
            background-position: center;
            max-width: 380px;
            height: 310px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                transform: translateY(40px);
                width: 150px;
            }
            b{
                margin-bottom: 70px;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 62px;
                color: white;
            }
        }
    }
}